<div class="dialog-container">

  <!-- Header -->
  <div class="dialog-header">
    <span class="icon"></span>
    <h2 mat-dialog-title>{{ data.title }}</h2>
  </div>

  <!-- Content -->
  <mat-dialog-content class="content">
    <p>{{ data.message }}</p>
  </mat-dialog-content>

  <!-- Actions -->
  <mat-dialog-actions align="end" class="actions">
    <button mat-stroked-button (click)="onCancel()" class="btn btn-light">
      {{ data.cancelText || 'Cancelar' }}
    </button>

    <button mat-flat-button (click)="onConfirm()" class="btn confirm-button"
      [class.primary]="data.confirmColor === 'primary'"
      [class.success]="data.confirmColor === 'success'"
      [class.warning]="data.confirmColor === 'warning'"
      [class.danger]="!data.confirmColor || data.confirmColor === 'danger'">
      {{ data.confirmText || 'Eliminar' }}
    </button>
  </mat-dialog-actions>

</div>
