<div class="card">

  <div class="form-header">
    <h2>{{ title }}</h2>
  </div>

  <form [formGroup]="form">

    <div class="form-body">
      <ng-content></ng-content>
    </div>

    <div class="form-actions">
      <app-button 
        [type]="'submit'" 
        [text]="esEdicion ? 'Editar' : 'Guardar'"
        color="primary"
        [loading]="loading"
        size="medium">
      </app-button>
      <app-button 
        *ngIf="mostrarGuardarYAgregarOtro" 
        type="button" 
        text="Guardar y agregar otro"
        color="warning"
        [loading]="loading"
        size="medium"
        (click)="onGuardarYAgregarOtro()">
      </app-button>
      <app-button 
        type="button" 
        text="Cancelar"
        color="secondary"
        size="medium"
        (click)="onCancel()">
      </app-button>
    </div>
  </form>
</div>